<div>
  <label>{{images[currentPage].title}}</label>
  <img src="{{images[currentPage].url}}" alt="">

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"
      [ngClass]="{disabled: currentPage == 0}">
        <a  (click)="currentPage = currentPage -1" class="page-link" href="#">Prev</a>
      </li>
      <li class="page-item"
      [ngClass]="{active: i === currentPage}"
      *ngFor="let image of  images; let i = index;">
        <a (click)="currentPage = i" class="page-link" href="#">
          {{ i + 1 }}
        </a>
      </li>
      <li class="page-item"
      [ngClass]="{disabled: currentPage == images.length - 1}">
        <a (click)="currentPage = currentPage  + 1" class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>