div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
img{
    width: 900px;
    margin: auto;
}
nav{
    margin: auto;
    padding:10px; 
}